.App{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 20px auto;
}
.details {
    border: 1px solid black;
}

.testimonial{
    display: flex;
    justify-content: center;
}
